.cards_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.card {
  width: 430px;
  min-height: 400px;
  margin-bottom: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 255, 0.5);
  background-color: #f9fdff;
  transform: translateY(-2px);
}

.card_header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card_content {
  padding: 12px;
}

.news_source {
  margin-top: 12px;
}

.card-title {
  font-weight: bold;
}
