@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for link color */
}

a:hover {
  color: #4a90e2; /* Change link color on hover */
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f4f6;
  color: #333;
  font-size: 16px;
}

.input-text {
  @apply mt-1 block w-60 px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-500;
  @apply focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  color: #333;
}

/* Additional styles for cards */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 20px;
}

/* Enhance hover effects for buttons */
.btn {
  background-color: #4a90e2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3572b0;
}

/* Add some spacing to the top and bottom of the buttons */
.btn:not(:first-child) {
  margin-top: 10px;
}

.btn:not(:last-child) {
  margin-bottom: 10px;
}

/* Style hr element for category row */
.category-line {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  margin: 20px 0;
  border: none;
}
